In [1]:
import pandas as pd

In [2]:
df=pd.read_excel("C:\\Users\\avnis\\OneDrive\\Pictures\\Camera Roll\\Documents\\friends.csv.xlsx")

In [3]:
df

   0      NAME  MARKS         CITY  CLASS
0  1  priyanka     34  pithoragarh      9
1  2    preeti     45     dehradun      8
2  3    himani     34     tanakput      7
3  4     kajal     45    champawat      6
4  5    nikita     45     tawaghat      5

In [20]:
d=pd.read_excel("C:\\Users\\avnis\\Downloads\\INTERNAL MARKS BREAK UP AY21-24 2nd sem.xlsx")

In [21]:
d

,B.Voc.BANKING AND FINANCIAL MANAGEMENT AY(2021-24)\nINTERNAL ASSESSMENT I 2ND SEMESTER,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,SR NO.,NAME,ORGANIZATION BEHAVIOUR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TOTAL,NaN
1,NaN,NaN,1st Internal,2nd Internal,3rd Internal,Internal Marks,Attendance,Discipline,Class Test,Class Participation,Assignment 1,Assignment 2,Presentation,TOTAL MARKS,Aggregate Final Marks
2,NaN,NaN,75,75,75,25,75,50,20,20,20,20,20,250,25
3,SBFM001,KAJAL KOSHYARI,13,10.5,13,4.333333,75,48,4,20,13,Not Given,15,192.333333,19.233333
4,SBFM002,NITIN BHATT,Absent,37.5,37.5,12.5,75,48,4,20,10,19,15,241,24.1
5,SBFM003,KAPIL SIPAL,13,35.5,35.5,11.833333,75,48,5,20,13,18,15,241.333333,24.133333
6,SBFM004,JATIN SAUN,5,20,20,6.666667,75,48,3,20,13,Not Given,Not Given,185.666667,18.566667
7,SBFM005,ANUSHKA KHARKAWAL,6,14.5,14.5,4.833333,75,48,3,20,14,Not Given,Not Given,179.333333,17.933333
8,SBFM006,SANJAY JOSHI,13,36,36,12,75,48,6.5,20,14.5,18,Not Given,230,23
9,SBFM007,RITESH KUMAR,9,19,19,6.333333,75,48,5,20,14.5,18,15,220.833333,22.083333
10,SBFM008,ANKIT JOSHI,21,44.5,44.5,14.833333,75,48,6,20,10,Not Given,14,232.333333,23.233333
11,SBFM009,PRIYANSHI BISHT,12,14,14,4.666667,75,48,4,20,NaN,Not Given,Not Given,165.666667,16.566667
12,SBFM010,RUCHITA SHARMA,21,Absent,21,7,75,50,8.5,20,15,19,20,235.5,23.55
13,SBFM011,AMAN KASHNYAL,4.5,37,37,12.333333,75,48,4,20,14,Not Given,Not Given,210.333333,21.033333
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,SR. NO.,NAME,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,SNHS001,ISHA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,SNHS002,CHITRA CHAND,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,SNHS003,NEHA CHAND,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,SNHS004,PRASANSHA PANT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,SNHS005,MANISHA BHATT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,SNHS006,AMIT KUMAR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
d.columns

Index(['B.Voc.BANKING AND FINANCIAL MANAGEMENT AY(2021-24)\nINTERNAL ASSESSMENT I  2ND SEMESTER',
       'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5',
       'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10',
       'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14'],
      dtype='object')

In [22]:
d['B.Voc.BANKING AND FINANCIAL MANAGEMENT AY(2021-24)\nINTERNAL ASSESSMENT I  2ND SEMESTER']

0      SR NO.
1         NaN
2         NaN
3     SBFM001
4     SBFM002
5     SBFM003
6     SBFM004
7     SBFM005
8     SBFM006
9     SBFM007
10    SBFM008
11    SBFM009
12    SBFM010
13    SBFM011
14        NaN
15        NaN
16        NaN
17        NaN
18        NaN
19        NaN
20        NaN
21        NaN
22        NaN
23        NaN
24        NaN
25        NaN
26        NaN
27        NaN
28        NaN
29        NaN
30        NaN
31        NaN
32        NaN
33    SR. NO.
34        NaN
35        NaN
36        NaN
37    SNHS001
38    SNHS002
39    SNHS003
40    SNHS004
41    SNHS005
42    SNHS006
Name: B.Voc.BANKING AND FINANCIAL MANAGEMENT AY(2021-24)\nINTERNAL ASSESSMENT I  2ND SEMESTER, dtype: object

In [23]:
s=d['B.Voc.BANKING AND FINANCIAL MANAGEMENT AY(2021-24)\nINTERNAL ASSESSMENT I  2ND SEMESTER']

In [24]:
s

0      SR NO.
1         NaN
2         NaN
3     SBFM001
4     SBFM002
5     SBFM003
6     SBFM004
7     SBFM005
8     SBFM006
9     SBFM007
10    SBFM008
11    SBFM009
12    SBFM010
13    SBFM011
14        NaN
15        NaN
16        NaN
17        NaN
18        NaN
19        NaN
20        NaN
21        NaN
22        NaN
23        NaN
24        NaN
25        NaN
26        NaN
27        NaN
28        NaN
29        NaN
30        NaN
31        NaN
32        NaN
33    SR. NO.
34        NaN
35        NaN
36        NaN
37    SNHS001
38    SNHS002
39    SNHS003
40    SNHS004
41    SNHS005
42    SNHS006
Name: B.Voc.BANKING AND FINANCIAL MANAGEMENT AY(2021-24)\nINTERNAL ASSESSMENT I  2ND SEMESTER, dtype: object

In [25]:
len(s)

43

In [26]:
s=d['B.Voc.BANKING AND FINANCIAL MANAGEMENT AY(2021-24)\nINTERNAL ASSESSMENT I  2ND SEMESTER'][0:10]

In [27]:
s

0     SR NO.
1        NaN
2        NaN
3    SBFM001
4    SBFM002
5    SBFM003
6    SBFM004
7    SBFM005
8    SBFM006
9    SBFM007
Name: B.Voc.BANKING AND FINANCIAL MANAGEMENT AY(2021-24)\nINTERNAL ASSESSMENT I  2ND SEMESTER, dtype: object

In [28]:
type(s)

pandas.core.series.Series

In [29]:
l=['a','b','c','d','e','f','g','h','r','g']

In [30]:
pd.Series(s,index=l)

a    NaN
b    NaN
c    NaN
d    NaN
e    NaN
f    NaN
g    NaN
h    NaN
r    NaN
g    NaN
Name: B.Voc.BANKING AND FINANCIAL MANAGEMENT AY(2021-24)\nINTERNAL ASSESSMENT I  2ND SEMESTER, dtype: object

In [31]:
pd.Series(list(s),index=l)

a     SR NO.
b        NaN
c        NaN
d    SBFM001
e    SBFM002
f    SBFM003
g    SBFM004
h    SBFM005
r    SBFM006
g    SBFM007
dtype: object

In [32]:
s1=pd.Series(list(s),index=l)

In [33]:
s1

a     SR NO.
b        NaN
c        NaN
d    SBFM001
e    SBFM002
f    SBFM003
g    SBFM004
h    SBFM005
r    SBFM006
g    SBFM007
dtype: object

In [36]:
s2=s1.append(s)

C:\Users\avnis\AppData\Local\Temp\ipykernel_17144\2552242485.py:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  s2=s1.append(s)

In [37]:
s2[0]

'SR NO.'

In [38]:
s2[4]

'SBFM002'

In [40]:
s3=pd.Series([3,4,5,6,6,],index[2,3,4,5,6])

NameError: name 'index' is not defined